@import './main.css';

.collection-card {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: var(--border-rad);
    background-color: var(--background-sec);
    padding: 1rem;
    gap: 3rem;
}

.collection-card-buttons {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

@media only screen and (max-width: 720px) {
    .collection-card {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 1rem;
        align-items: stretch;
    }
}